
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-carousel" src="/assets/images/orange-flowers.svg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block d-md-block cadre">
          <p>
            <b>LES NOCES DE FOLLES SAISONS</b><br>
            Samedi 4 décembre 2021 à <b>20h00</b> <br>
            Dimanche 5 décembre 2021 à <b>15h00</b> <br>
            Tarifs : 10€ et 5€ (-12ans) <br>
            Salle des Fêtes de Cadaujac : 3 place de l'église, 33140 Cadaujac <br>
            Réservation obligatoire au : 06 17 26 31 15 <br>
          </p>
          <a href="page404.html">En savoir plus</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-carousel" src="/assets/images/socrate.svg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block d-md-block cadre">
          <p>
            <b>M.SOCRATON</b><br>
            Dimanche 6 juin 2021 à <b>14h30</b> <br>
            Dimanche 6 juin 2021 à <b>16h30</b> <br>
            Tarifs : 10€ et 5€ (-12ans) <br>
            Théâtre Le Cerisier : 7-11 Rue Joseph Brunet, 33000 Bordeaux <br>
            Réservation obligatoire au : 06 61 51 72 13 <br>
          </p>
          <a href="page404.html">En savoir plus</a>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-carousel" src="/assets/images/sunset-montagne.svg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block d-md-block cadre">
          <p>
            <p>
              <b>LE FUSIL DE CHASSE</b><br>
              Samedi 13 novembre 2021 à <b>20h00</b> <br>
              Dimanche 14 novembre 2021 à <b>15h00</b> <br>
              Tarifs : 10€ et 5€ (-12ans) <br>
              Les Menuts des Arts : 47 rue des Menuts33000 Bordeaux <br>
              Réservation obligatoire au : 06 17 26 31 15 <br>
            </p>
            <a href="page404.html">En savoir plus</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>