<section class="section-cours-interpretation flux">
    <h2>Cours d'interprétation</h2>
    <section class="cours-interpretation">
        <div class="gauche">
            <img src="assets/images/affiche-inter.jpg" alt="Affiche Spectacle" />
            <div class="localisation">
                <div>
                    <img src="assets/icones/icon-google-maps-rouge.svg" alt="icone localisation" class="icone" />
                </div>
                <div class="text-info">
                    <p><strong> Menuts des Arts </strong></p>
                    <p>47 rue des Menuts 33000 Bordeaux</p>
                    <p>BUS 24 - TRAM A/C - Porte de Bourgogne</p>
                </div>
            </div>
            <div class="localisation">
                <div>
                    <img src="assets/icones/icon-google-maps-rouge.svg" alt="icone localisation" class="icone" />
                </div>
                <div class="text-info">
                    <p><strong>La Maison Cantonale</strong></p>
                    <p>50 rue de Nuits 33100 Bordeaux</p>
                    <p>TRAM A - Jardin Botanique</p>
                </div>
            </div>
            <div class="agenda">
                <div>
                    <img src="/assets/icones/" alt="icone agenda" class="icone" />
                </div>
                <div class="text-info">
                    <p><b>Début des cours</b></p>
                    <p>mardi 14 septembre 2021</p>
                    <p>mercredi 15 septembre 2021</p>
                </div>
            </div>
        </div>
        <div class="droite">
            <div class="professeur-clement">
                <div class="tiret">
                    <img src="assets/images/cl-ment-bd.jpeg" alt="photo Clément Corbiat" class="photo-clement">
                </div>
                <div class="text-prof">
                    <p>Clément CORBIAT</p>
                    <p>Professeur</p>
                    <p>Les Menuts des Arts</p>
                </div>
            </div>
            <div class="professeur-elsa">
                <div class="tiret">
                    <img src="assets/images/elsabd.jpeg" alt="photo Elsa TROCMÉ" class="photo-elsa" />
                </div>
                <div class="text-prof">
                    <p>Elsa TRONCMÉ</p>
                    <p>Professeure</p>
                    <p>La Maison Cantonale</p>
                </div>
            </div>
            <div class="paragraphe">
                <p>Il n'y a pas de groupes de niveaux au <strong>Petit Plateau</strong> . Les débutants
                    travaillent
                    avec
                    les comédiens
                    plus
                    avancés dans un esprit de <b>bienveillance</b> et de <b>partage</b>. Ici pas de
                    match d'impro,
                    juste le <b>plaisir
                        d'imaginer ensemble, de créer, de s'évader.</b>
                </p>
                <p>Au travers d'exercices collectifs et individuels, chaque comédien sera amené à travailler sa
                    <b>singularité</b>
                    ,
                    son <b>écoute</b> , son <b>imaginaire</b> et sa <b>confiance en lui.</b>
                </p>
                <p>Les élèves aborderont la <b>maîtrise du corps</b> , du <b>souffle</b> , de la <b>voix</b> ,
                    de
                    <b>l'espace scénique</b>
                    , de <b>l'instant
                        présent</b>
                    , les <b>personnages</b> , la <b>concentration</b> , le <b>lâcher prise</b> . Le travail de
                    toutes
                    ces
                    contraintes
                    scéniques se déroulera dans la bienveillance et la bonne humeur.
                </p>
                <p><b>En juin ils présenteront au public leur travail au cours de 3 spectacles improvisés.</b>
                </p>
            </div>
            <div style="width:100%" class="boutons">
                <p><a href="planning-et-tarif" class="bouton">PLANNING ET TARIF</a></p>
                <p><a href="inscription" class="bouton">JE M'INSCRIS</a></p>
            </div>
            <h3>1ère séance GRATUITE !</h3>
        </div>
    </section>
</section>
