<body>
    <section class="nos-cours-de-theatre">
        <h1>NOS COURS DE THÉÂTRE</h1>
        <h2>Cours d'improvisation</h2>
        <section class="cours-impro">
            <div class="gauche">
                <div class="professeur">
                    <div class="photo-prof">
                        <img src="asset/cl-ment-bd.jpeg" alt="photo Clément Corbiat" class="photo-clement">
                    </div>
                    <div class="text-prof">
                        <p>Clément CORBIAT</p>
                        <p>Professeur</p>
                        <p>Les Menuts des Arts</p>
                    </div>
                </div>
                <div class="paragraphe">
                    <p>Il n'y a pas de groupes de niveaux au <strong>Petit Plateau</strong> . Les débutants travaillent
                        avec
                        les comédiens
                        plus
                        avancés dans un esprit de <b>bienveillance</b> et de <b>partage</b>. Ici pas de
                        match d'impro,
                        juste le <b>plaisir
                            d'imaginer ensemble, de créer, de s'évader.</b>
                    </p>
                    <p>Au travers d'exercices collectifs et individuels, chaque comédien sera amené à travailler sa
                        <b>singularité</b>
                        ,
                        son <b>écoute</b> , son <b>imaginaire</b> et sa <b>confiance en lui.</b>
                    </p>
                    <p>Les élèves aborderont la <b>maîtrise du corps</b> , du <b>souffle</b> , de la <b>voix</b> , de
                        <b>l'espace scénique</b>
                        , de <b>l'instant
                            présent</b>
                        , les <b>personnages</b> , la <b>concentration</b> , le <b>lâcher prise</b> . Le travail de
                        toutes
                        ces
                        contraintes
                        scéniques se déroulera dans la bienveillance et la bonne humeur.
                    </p>
                    <p><b>En juin ils présenteront au public leur travail au cours de 3 spectacles improvisés.</b></p>
                </div>
                <div style="width:100%" class="boutons">
                    <p><a href="planning-et-tarif" class="bouton">PLANNING ET TARIF</a></p>
                    <p><a href="inscription" class="bouton">JE M'INSCRIS</a></p>
                </div>
                <h3>1ère séance GRATUITE !</h3>
            </div>
            <div class="droite">
                <img src="asset/affiche-impro.png" alt="Affiche Spectacle" />
                <div class="localisation">
                    <div>
                        <img src="asset/Google Maps.svg" alt="icone localisation" class="icone" />
                    </div>
                    <div class="text-info">
                        <p><strong> Menuts des Arts </strong></p>
                        <p>47 rue des Menuts 33000 Bordeaux</p>
                        <p>BUS 24 - TRAM A/C - Porte de Bourgogne</p>
                    </div>
                </div>
                <div class="agenda">
                    <div>
                        <img src="asset/calendar_today.svg" alt="icone agenda" class="icone" />
                    </div>
                    <div class="text-info">
                        <p><b>Début des cours</b></p>
                        <p>mardi 14 septembre 2021</p>
                        <p>mercredi 15 septembre 2021</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>