<!DOCTYPE html>
<html lang="en">
<head>
    <title>Le Petit Plateau</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <h1>ÉVÈNEMENTS À VENIR</h1>
    <div class="bloc-grey">
        <div class="left">
        <img class="left" src="img/fleche gauche.svg" alt="left"> 
        <div class="text1">
            <p>précédent</p>
        </div>
        </div>
        <div class="text">
            <h2>Les noces des folles saisons</h2>
            <br/>
                <div class="calendar">
                    <img src="img/calendar_today.svg" alt="calendrier">
                    <p>Samedi<br/>4 décembre 2021<br/><b>à  20h00</b></p>
                    <img src="img/calendar_today.svg" alt="calendrier">
                    <p>Dimanche<br/>5 décembre 2021<br/><b>à  15h00</b></p>
                </div>
                <br/>
                <p>Représentation de nos partenaires : <br/> La troupe <b>Pas Bête La Mouche </b> et le collectif <b>Artheatrodile</b> <br/><br/>Le tourbillon des sentiments formant une folle farandole <br/>mêlant chant, danse, théâtre et poésie.</p>
                <br/>
                <div class="logo">
                    <img src="img/phone 7.svg" alt="phone">
                    <p>Réservation obligatoire au : <br/> <b>06 17 26 31 15</b></p>
                    <img src="img/Vector.svg" alt="prix">
                    <p><b>Tarifs :</b><br/>10€ et<br/>5€ (-12ans)</p>
                </div>
                <div class="logo2"> 
                    <img src="img/Google Maps.svg" alt="carte">
                    <p>Salle des Fêtes de Cadaujac<br/><b>3 place de l'église,</b><br/>33140 <b>Cadaujac</b></p>
                </div>                
        </div>  
        <img class="folles-saisons" src="img/affiche Spectacle.svg" alt="Affiche du spectacle">
        <div class="right">
            <img src="img/fleche droite.svg" alt="right">
            <div class="text2">
                <p>suivant</p>
            </div>       
        </div>          
    </div>
    <section class="all-circle">
        <div class="circle">
        </div>
        <div class="circle">
        </div>
        <div class="circle2">
        </div>
        <div class="circle">
        </div>
        <div class="circle">
        </div>
    </section>
</body>
</html>