<!-- <head>
    <title>Footer</title>
    <link rel="stylesheet" href="/_sass/components/style_footer.scss"><link rel="preconnect" href="https://fonts.googleapis.com">   
</head> -->

<footer class="footer">
    <div class="haut-footer">
        <div class="foenix">
            <h2>Par</h2>
            <img src="/Assets/images/LogoFoenixRed.svg" alt="logoFoenix"/>
        </div>
        <div class="contact">
            <h2>Contact</h2>
            <ul class="liste-contact liste" >
                <li>
                    <img src="/Assets/images/icon_tel.svg" alt="icon_tel">
                    <a href="#">06 61 51 72 13</a>
                </li>
                <li>
                    <img src="/Assets/images/icon_mail.svg" alt="icon_mail">
                    <a href="#">foenix.cie@gmail.com</a>
                </li>
                <li>
                    <img src="/Assets/images/icon_facebook.svg" alt="icon_facebook">
                    <a href="https://www.facebook.com/foenix.cie">FACEBOOK</a>
                </li>
                <li>
                    <img src="/Assets/images/icon_instagram.svg" alt="icon_instagram">
                    <a href="https://www.instagram.com/lepetitplateaufoenix/?hl=fr">INSTAGRAM</a>
                </li>
                <li>
                    <img src="/Assets/images/icon_maps.svg" alt="icon_maps">
                    <a href="https://www.google.com/maps/place/Le+Petit+Plateau/@44.8335668,-0.5753236,14.38z/data=!4m9!1m2!2m1!1sle+petit+plateau!3m5!1s0xd552777d4fe1b49:0x113ac8ce388d0958!8m2!3d44.8332627!4d-0.5675864!15sChBsZSBwZXRpdCBwbGF0ZWF1IgOIAQGSAQxkcmFtYV9zY2hvb2w">LOCALISATIONS</a>
                </li>
            </ul>
        </div>
        <div class="rubriques">
            <h2>Rubriques</h2>
            <ul class="liste-rubriques liste" >
                <li><a href="#">ACCUEIL</a></li>
                <li><a href="#">COMPAGNIE</a></li>
                <li><a href="#">COURS</a></li>
                <li><a href="#">STAGES</a></li>
                <li><a href="#">SPECTACLES</a></li>
                <li><a href="#">RECRUTEMENT</a></li>
            </ul>
        </div>
        <div class="localisation">
            <h2>Localisation</h2>
            <a href="https://www.google.com/maps/place/Le+Petit+Plateau/@44.8335668,-0.5753236,14.38z/data=!4m9!1m2!2m1!1sle+petit+plateau!3m5!1s0xd552777d4fe1b49:0x113ac8ce388d0958!8m2!3d44.8332627!4d-0.5675864!15sChBsZSBwZXRpdCBwbGF0ZWF1IgOIAQGSAQxkcmFtYV9zY2hvb2w"><img src="/Assets/images/image_maps.svg" alt="planMaps"></a>
        </div>
    </div>
    <p class="blabla-footer">MENTIONS LEGALES FOENIX <br/>ASSOCIATION RÉGIE PAR LA LOI DU 1ER JUILLET 1901 ET LE DÉCRET DU 16 AOUT 1901 CETTE ASSOCIATION A POUR OBJET LA CRÉATION, LA DIFFUSION, LA PRODUCTION ET LA PROMOTION DE TOUT SPECTACLE VIVANT L'ORGANISATION DE COURS OU DE STAGES LIÉS AUX MÉTIERS DU SPECTACLE VIVANT ET DE L'AUDIOVISUEL CODE APE 9001Z - SIRET 827 500 091 00034 - LICENCE 2-1101730</p>
</footer>