<header class="header-noir">
    <ul class="header-noir-nav">
        <li>
            <a href="index.html" class="header-noir-bouton">ACCUEIL</a>
        </li>
        <li>
            <a href="compagnie" class="header-noir-bouton">COMPAGNIE</a>
        </li>
        <li>
            <a href="page-cours.html" class="header-noir-bouton">COURS</a>
        </li>
        <li>
            <a href="stages" class="header-noir-bouton">STAGES</a>
        </li>
        <li>
            <a href="spectacles" class="header-noir-bouton">SPECTACLES</a>
        </li>
        <li>
            <a href="recrutement" class="header-noir-bouton">RECRUTEMENT</a>
        </li>
    </ul>
</header>