<header>
    <img src="../assets/images/logo-le-petit-plateau.-rouge.png" alt="logo le petit plateau" class="logo-rouge" />
    <ul class="nav">
        <li>
            <a href="accueil" class="header-bouton">ACCUEIL</a>
        </li>
        <li>
            <a href="compagnie" class="header-bouton">COMPAGNIE</a>
        </li>
        <li>
            <a href="page-cours.html" class="header-bouton">COURS</a>
        </li>
        <li>
            <a href="stages" class="header-bouton">STAGES</a>
        </li>
        <li>
            <a href="spectacles" class="header-bouton">SPECTACLES</a>
        </li>
        <li>
            <a href="recrutement" class="header-bouton">RECRUTEMENT</a>
        </li>
    </ul>
</header>