<header>
    <img src="../assets/images/logo-le-petit-plateau.-rouge.png" alt="logo le petit plateau" class="logo-rouge" />
    <ul class="nav">
        <li>
            <a href="index.html" class="header-blanc-bouton">ACCUEIL</a>
        </li>
        <li>
            <a href="compagnie.html" class="header-blanc-bouton">COMPAGNIE</a>
        </li>
        <li>
            <a href="page-cours.html" class="header-blanc-bouton">COURS</a>
        </li>
        <li>
            <a href="stages.html" class="header-blanc-bouton">STAGES</a>
        </li>
        <li>
            <a href="spectacles.html" class="header-blanc-bouton">SPECTACLES</a>
        </li>
        <li>
            <a href="recrutement.html" class="header-blanc-bouton">RECRUTEMENT</a>
        </li>
    </ul>
</header>