<section class="section-infos-sup flux">
    <div class="info"><h1>INFORMATIONS SUPPLÉMENTAIRES</h1>
        <h2><b>Inscription administrative annuelle obligatoire</b></h2>
        <p><b>Tarif plein : </b> 30€<br/> <b>Tarif réduit * :</b> 20 €   (un justificatif vous sera demandé lors de votre inscription)</p>
        <h2><b>Début des cours </b></h2>
        <p><b>1er trimestre :</b> 13 decembre 2021 <br/><b>2ème trimestre :</b> 6 décembre 2021 <br/><b>3ème trimestre :</b> 7 mars 2022</p>
        <h2><b>Remise annuelle si vous faites plusieurs ateliers</b></h2>
        <table>
            <tr>
                <th class="line"><b>2 ateliers</b></th>
                <th class="line"><b>3 ateliers</b></th>
                <th class="line"><b>4 ateliers</b></th>
            </tr>
            <tr>
                <td class="align-text line">-50 €</td>
                <td class="align-text line">-100 €</td>
                <td class="align-text line">-150 €</td>
            </tr>
        </table>
        <p>*Tarif Réduit : Mineurs, Étudiants, Chômeurs<br/>**Ce tarif s’applique aussi aux résidents de Bordeaux-Bastide.<br/><br/>Merci de présenter un justificatif de domicile lors de votre inscription.</p>
    </div>
    <div class="text">
    <p class="pass"> <b>Pass Sanitaire Covid-19 </b></p>
    <p><b>Ici le Pass Sanitaire est obligatoire :</b></p>
    <br/>
        <ul>
            <li><b>Certificat de Vacination</b></li>
            <br/>
            <br/>
            <li><b>Test Négatif</b></li>
            <br/>
            <br/>
            <li><b>Certificat de rétablissement</b></li>
        </ul>
    </div> 
</section>
   