<section class="section-infos-sup flux">
    <div class="info"><h2>INFORMATIONS SUPPLÉMENTAIRES</h2>
        <h3>Inscription administrative annuelle obligatoire</h3>
        <p>Tarif plein :  30€ Tarif réduit * : 20 €   (un justificatif vous sera demandé lors de votre inscription)</p>
        <h3>Début des cours </h3>
        <p><b>1er trimestre :</b> 13 decembre 2021 <br/><b>2ème trimestre :</b> 6 décembre 2021 <br/><b>3ème trimestre :</b> 7 mars 2022</p>
        <h3>Remise annuelle si vous faites plusieurs ateliers</h3>
        <table>
            <tr>
                <th class="line"><b>2 ateliers</b></th>
                <th class="line"><b>3 ateliers</b></th>
                <th class="line"><b>4 ateliers</b></th>
            </tr>
            <tr>
                <td class="align-text line">-50 €</td>
                <td class="align-text line">-100 €</td>
                <td class="align-text line">-150 €</td>
            </tr>
        </table>
        <p>*Tarif Réduit : Mineurs, Étudiants, Chômeurs<br/>**Ce tarif s’applique aussi aux résidents de Bordeaux-Bastide.<br/><br/>Merci de présenter un justificatif de domicile lors de votre inscription.</p>
    </div>
    <div class="text">
        <p class="pass"> Pass Sanitaire Covid-19</p>
        <div class="info-pass">
            <p><b>Ici le Pass Sanitaire est obligatoire :</b></p>
            <ul class="liste">
                <li><b>• Certificat de Vacination</b></li>
                <li><b>• Test Négatif</b></li>
                <li><b>• Certificat de rétablissement</b></li>
            </ul>
        </div>
    </div> 
</section>
   