<!-- <head> 
    <title>Cours/Inscriptions</title>
    <link rel="stylesheet" href="inscriptions.scss">
</head> -->

    <section class="inscriptions">
        <h2>Inscriptions</h2>
        <h3>Comment ça se passe cette année ?</h3>
            <section class="contenu-inscriptions">

                <section class="bloc-texte-1">
                <p>
                    <b>1 - </b>Pour participer à un cours d'essai, je télécharge et je remplis mon formulaire d'inscription (disponible plus bas) et je le renvoie par mail à foenix.cie@gmail.com Je recevrai un mail de confirmation de mon inscription dans le ou les cours d'essais choisis (si je compte m'inscrire à plusieurs ateliers) dans la limite des places disponibles. Mon inscription ne sera définitive qu'à la rentrée lorsque je réglerai ma cotisation à l'issue de mon cours d'essai. Les règlements des cotisations se feront uniquement en septembre. Je n'envoie rien par courrier postal.
                    <br/><b>2 - </b>Je pense aux mesures sanitaires à la rentrée : <br/>Le jour de la rentrée, je viens avec mon Pass Sanitaire et mon masque.<br/>Je pense à venir à l'heure pour que mon professeur puisse appliquer les contraintes sanitaires dans les meilleures conditions possibles.
                </p>

                </section>
                <section class="bloc-texte-2">
                    <p>
                        <b>3 - </b>"Je souhaite régler ma cotisation et m'inscrire définitivement maintenant !" Non ce n'est pas possible ! Il faudra le faire sur place à la rentrée. Nous ne prenons aucun règlement par voie postale. 
                        <br/><b>4 - </b>S'il n'y a plus de place dans un atelier ? <br/>Je serai mis automatiquement sur liste d'attente et/ou le Petit Plateau me contactera pour me proposer un autre cours.            
                    </p>
                    <div class="bouton_contact">
                        <div class="boutons">
                            <button class="bouton-reglement-interieur">
                                <a href="#">Règlement intérieur</a>
                                <img src="/assets/icones/icon_download.svg" alt="iconDonwload">
                            </button>
                            <button class="bouton-je-minscris">
                                <a href="#">Je m'inscris</a>
                                <img src="/assets/icones/icon_download.svg" alt="iconDonwload">
                            </button>
                        </div>
                        <div class="contact-bloc-texte-2">
                            <p><b>foenix.cie@gmail.com</b></p>
                            <p><b>06 61 51 72 13</b></p>
                        </div>
                    </div>
                </section>
        </section>
    </section>