<section class="LA-COMPAGNIE-FOENIX">
    <h2>LA COMPAGNIE FOENIX</h2>
    <section class="nos-valeurs">
        <article class="texte-nos-valeurs">
            <h3>NOS VALEURS</h3>
            <p>
                Pour devenir un vrai comédien il faut tout d'abord être conscient que l'on est doté d'une personnalité unique. On doit, ensuite, être persuadé que cette personnalité peut trouver sur scène une signification propre. Le comédien doit la construire dans le déroulement même de la représentation, dans la manière dont, en se servant du théâtre, il va devenir exemplaire.
                <br/><br/><b>-Michel Bouquet  “La leçon de comédie”</b>
            </p>
            <br/>
            <br/>
            <p>
                Parce que le bien être du comédien sur scène est primordial, parce que le théâtre peut être enseigné dans le respect de la personne et la bienveillance, parce que le comédien trouve sa liberté dans la contrainte et non dans la souffrance : j'ai créé ce cours avec tout mon amour du théâtre et de la singularité des gens. Nous ne faisons pas de psychanalyse avec les comédiens, nous faisons de l'art avec eux, avec leurs corps, leurs voix, leurs gestuelles et tout ce qui fait d'eux des êtres uniques !
                <br/><br/><b>-Elsa Trocmé</b>
            </p>
        </article>
        <img src="assets/images/image_nos_valeurs.svg" alt="Une image avec des gens">
    </section>
    <section class="l-enseignement">
        <img src="assets/images/image_enseignement.svg" alt="Une image avec des gens">
        <article class="texte-l-enseignement">
            <h3>L'ENSEIGNEMENT</h3>
            <p>Au travers d'exercices collectifs et individuels, chaque comédien sera amené à travailler sa singularité, son écoute, son imaginaire et sa confiance en lui.

                Les élèves aborderont la maîtrise du corps, du souffle, de la voix, de l'espace scénique, de l'instant présent mais aussi la relation au texte, les personnages, la concentration, le lâcher prise.
                
                En interprétation, ils se donneront la réplique autour de scènes du répertoire classique et contemporain.
                En improvisation, pas de match d'impro. Juste le plaisir travailler en groupe de façon ludique et constructive.
                
                Divers intervenants pourront venir ponctuer cette formation durant l'année afin d'aborder le théâtre au travers d'autres disciplines.
                
                Le  travail de toutes ces contraintes scéniques se déroulera dans la bienveillance et la bonne humeur pour les amateurs comme pour les professionnels.
            </p>
        </section>
</section>