<section class="topAccueil">
    <div class="sujet">
        <div class="lpppf">
            <img src="assets/images/LogoLePetitPlateauBlanc.png" alt="logo petit plateau">
            <h2>par FOENIX</h2>
        </div>
        <h1>Cours de Théâtre d'improvisation et d'interprétation à Bordeaux</h1>
    </div>
    <div class="icones">
        <img src="assets/icones/mail.png" alt="logo mail">
        <img src="assets/icones/phone_5.png" alt="logo phone">
        <img src="assets/icones/Google_Maps.png" alt="logo ggmaps">
    </div>
    <div class="flèche">
        <img src="assets/icones/fleche_bas.png" alt="flèche bas">
    </div>
</section> 
