<section>
    <img src="../assets/images/LogoLePetitPlateauBlanc.png" alt="logo le petit plateau" />
    <h1>Cours de théâtre d'improvisation et d'interprétation sur Bordeaux</h1>
    <p>Par FOENIX</p>
    <div class="icones">
        <img src="assets/icones/mail.png" alt="logo mail">
        <img src="assets/icones/phone_5.png" alt="logo phone">
        <img src="assets/icones/Google_Maps.png" alt="logo ggmaps">
    </div>
    <div class="flèche">
        <img src="assets/icones/fleche_bas.png" alt="flèche bas">
    </div>
</section> 
