<section class="section-landing">
    <img src="/assets/images/Theater.jpg" alt="image d'un théâtre" class="background">
    <div class="display flux">
        <div class="zindex">
            <img src="../assets/images/LogoLePetitPlateauBlanc.png" alt="logo le petit plateau" class="logo" />
            <h2>Par FOENIX</h2>
        </div>

        <div class="zindex texte">
            <h1>Cours de théâtre d'improvisation et d'interprétation sur Bordeaux</h1>
        </div>
    </div>
    <div class="icones flux">
        <img src="assets/icones/mail.png" alt="logo mail" class="zindex">
        <img src="assets/icones/phone_5.png" alt="logo phone" class="zindex">
        <img src="assets/icones/Google_Maps.png" alt="logo ggmaps" class="zindex">
    </div>
    <div class="flèche">
        <img src="assets/icones/fleche_bas.png" alt="flèche bas" class="zindex">
    </div>
</section>