<section class="section-planning">
    <h2>PLANNING 2021/2022</h2>
    <section class="planning">
        <ul class="inlineText jours">
            <li>Lundi</li>
            <li>Mardi</li>
            <li>Mardi</li>
            <li>Mercredi</li>
        </ul>
        <ul id="horaires">
            <li>18h00</li>
            <li>18H30</li>
            <li>19H00</li>
            <li>19H30</li>
            <li>20H00</li>
            <li>20H30</li>
            <li>21H00</li>
            <li>21H30</li>
            <li>22H00</li>
            <li>22H30</li>
        </ul>
        <ul class="inlineText lieu">
            <li><img src="image/location_on_black_24dp.svg" alt="logo-localisation" /></li>
            <li class="menuts">Les Menuts des Arts</li>
            <li class="cantonale">La Maison Cantonale</li>
            <li class="menuts">Les Menuts des Arts</li>
            <li class="menuts">Les Menuts des Arts</li>
        </ul>
        <div class="interpretation lundi">
            <p class="bold">18h00 - 20h00</p>
            <p>Interpretation</p>
            <p class="complet bold">COMPLET</p>
        </div>

        <div class="interpretation mardiUn18">
            <p class="bold">18h00 - 20h00</p>
            <p>Interpretation</p>
            <p class="complet bold">COMPLET</p>
        </div>

        <div class="interpretation mardiUn20">
            <p class="bold">20h00 - 22h00</p>
            <p>Interpretation</p>
            <p class="complet bold">COMPLET</p>
        </div>

        <div class="impro mardiDeux1830">
            <p class="bold">18h30 - 20h30</p>
            <p>Improvisation</p>
            <p class="complet bold">COMPLET</p>
        </div>

        <div class="interpretation mardiDeux2030">
            <p class="bold">20h30 - 22h30</p>
            <p>Interpretation</p>
            <p class="complet bold">COMPLET</p>
        </div>

        <div class="impro mercredi">
            <p class="bold">18h30 - 20h30</p>
            <p>Improvisation</p>
        </div>
    </section>
</section>
