<section class="section-tarifs">
    <section class="first">
        <section class="tarifs-top flux">
            <div>
                <h2>TARIFS 2021/2022</h2>
                <h3>Ateliers d'Improvisation</h3>
            </div>
        
            <div class="tarifs_line">
                <img src="assets/images/impro.jpg" alt="deux comédiens sur scene qui se regardent"> 
               
                <div class="grid-tarifs">
                    <div class="grid-tarif-top">
                        <p>
                            Inscriptions ouvertes toute l’année. <br/>
                            Possibilité de régler ces ateliers par trimestre
                        </p>
                    </div>
                    <div class="grid-tarif-mid">
                        <table>
                            <tr>
                                <th class="line">Lieu</th>
                                <td class="align-text line">Les Menuts des Arts : 47 rue des Menuts, Bordeaux</td>
                            </tr>
                            <tr>
                                <th class="line">Tarif Annuel</th>
                                <td class="align-text line">270 €</td>
                            </tr>
                            <tr>
                                <th class="line">Tarif Annuel Réduit*</th>
                                <td class="align-text line">240 €</td>
                            </tr>
                            <tr>
                                <th>Tarif Trimestriel</th>
                                <td class="align-text">100 €</td>
                            </tr>
                    </table>
                    </div>
                    <div class="grid-tarif-end">
                        <p class="text-right">*Tarif Réduit : Mineurs, Étudiants, Chômeurs</p>
                    </div>
                </div>
                
            </div>
        </section>
    </section>

    <section  class="tarifs-bot flux bottom">
        <div>
            <h3>Ateliers d'Interprétation</h3>
        </div>
    
        <div class="tarifs_line">
            <div class="grid-tarifs">
                <div class="grid-tarif-top">
                    <p>
                        Les tarifs des ateliers à la Maison Cantonale sont inferieurs aux autres. <br>
                        Ceci est dû au fait que a salle nous est prêtée par la Mairie de Bordeaux.
                    </p>
                </div>
                <div class="grid-tarif-mid">
                    <table>
                        <tr>
                            <th class="line">Lieu</th>
                            <td class="align-text line">Les Menuts des Arts : 47 rue des Menuts, Bordeaux</td>
                            <td class="align-text line">La Maison Cantonale : 50 rue de Nuits, Bordeaux</td>
                        </tr>
                        <tr>
                            <th class="line">Tarif Annuel</th>
                            <td class="align-text line">270 €</td>
                            <td class="align-text line">270 €</td>
                        </tr>
                        <tr>
                            <th class="line">Tarif Annuel Réduit*</th>
                            <td class="align-text line">240 €</td>
                            <td class="align-text line">240 €</td>
                        </tr>
                        <tr>
                            <th>Tarif Annuel Résidents**</th>
                            <td class="align-text">X</td>
                            <td class="align-text">100 €</td>
                        </tr>
                </table>
                </div>
                <div class="grid-tarif-end">
                    <p class="text-right">
                        *Tarif Réduit : Mineurs, Étudiants, Chômeurs <br>
                        **Tarifs résidents de Bordeaux-Bastide avec 
                        justificatif de domicile
                    </p>
                </div>
            </div>
            <img src="assets/images/interpretation.jpg" alt="deux comédiens sur scene qui se regardent"> 
        
        </div>
       
    </section>
</section>