// FONT 

h1{
    font-family: 'Montserrat', sans-serif;
    color: $bordeaux;
    font-size: 48px;
    font-weight: 800;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 400;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
}  

.p-big {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.p-little {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight: 400;
}