$bordeaux: #9F0006;
$rouge: #DA0606;
$fond-blanc: #F8F8F8;
$gris : rgba(77,77,77,25);
$rose : #FB6B70;
$noir : black; 
$blanc : white;
$primary-color: black;

// $h1-font-family: 'Montserrat', sans-serif;
// $h1-bold: 800;
// $h1-size: 48px;

// $h2-font-family: 'Montserrat', sans-serif;
// $h2-regural: 400;
// $h2-size: 38px;

// $h3-font-family: 'Montserrat', sans-serif;
// $h3-regular: 400;
// $h3-size: 28px;

// $p-font-family: 'Spartan', sans-serif;

// $p-big-size: 18px;
// $p-big-regular: 400;
// $p-big-bold: 800;

// $p-little-size: 12px;
// $p-little-regular: 400;
