.section-cours-improvisation{
    margin: 0 60px;

    .H1-impro{
        text-align: center;
        padding: 50px;
        font-family: 'Montserrat', sans-serif;
        font-style: bold;
        font-size: 48px;
        color: #9F0006;
        margin: 100px 0;
        padding: 0;
    }.H2-impro{
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
        font-weight: normal;
        color: #9F0006;
        padding: 0 0 60px 0;
        margin: 0;
    }
    .H3-impro{
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-weight: bold;
        color:#DA0606;
        text-align: center;
        padding: 60px 0 0 0;
    }
    .cours-impro{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .gauche-impro-impro{
        padding: 0 140px 0 0;
    }
    .professeur-impro {
        display:flex;
    }
    .photo-prof-impro{
        border-right: #9F0006 solid 2px;
        padding-right: 20px;
    }
    .photo-clement-impro{
        border-radius: 50%;
        width: 131px;
    }
    .text-prof-impro{
        padding: 0 0 0 40px;
        line-height: 50px;
    }
    .text-prof-impro p:first-child{
        font-family: 'Montserrat', sans-serif;
        font-size: 38px;
    }
    .text-prof-impro p:nth-child(2){
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 28px;
    }
    .text-prof-impro p:last-child{
        font-family: 'Spartan', sans-serif;
        font-weight: normal;
        font-size: 18px;
    }
    .paragraphe-impro{
        padding: 60px 0px 60px 0;
    }
    .paragraphe-impro p{
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 30px;
        margin: 25px 0;
    }
    .boutons-impro{
        display: flex;
        justify-content: center;
        gap: 28px;
    }
    .bouton-impro{
        color: #9F0006;
        text-decoration: none;
        border: solid 2px;
        border-color:#9F0006 ;
        border-radius: 5px;
        padding: 10px 40px;
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        align-items: center;
        width: 100%;
        transition-duration: 0.2s;
    }
    .bouton-impro:hover{
        color: white;
        background: #9F0006;
    
    }
    .droite-impro img{
        width: 428px;
        margin: 0 0 60px 0;
    }
    .localisation-impro{
        display: flex;
        align-items: flex-start;
        margin: 0 0 30px 0;
    }
    img.icon-impro{
        width: 50px;
        align-items: flex-start;
    }
    .agenda-impro{
        display: flex;
        align-items: flex-start;
        margin: 0 0 30px 0;
    }
    .text-info-impro{
        padding-left: 30px;
        font-family: 'Spartan', sans-serif;
        font-size: 12px;
    
    }
    .text-info-impro p:first-child{
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        padding: 0 0 20px 0;
    }
    .text-info-impro p:nth-child(2), .text-info-impro p:nth-child(3){
        line-height: 30px;
    }
}
