.section-evenements{
    h2 {
        font-family: $h2-font-family;
        font-size: $h2-size;
        font-weight: $h2-regural;
        color:$bordeaux;
        text-align: center;
        margin: 60px 0;
    }
    
    h3 {
        font-family: $h3-font-family;
        font-size: $h3-size;
        font-weight: $h3-regular;
        padding-bottom: 20px;
    }
    p{
        font-family: $p-font-family;
        font-size: $p-big-size;
        font-weight: $p-big-regular;
    }
    .bloc-grey {
        display: flex;
        padding : 0 25px;
        background-color: $gris;
    }
    .text {
        display: flex;
        display: normal;
        display: inline-block;
        margin: 60px;
    }
    .calendar {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
        line-height: 25px;
        padding-bottom: 45px;
    }
    
    .logo {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
    }
    .logo p{
        line-height: 25px;
    }

    .logo2 {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
    }
    .logo2 p{
        line-height: 25px;
    }
    .folles-saisons {
        height: 501px;
        width: 326px;
        margin: 30px auto 30px auto;
    }
    
    
    .right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 100%;
        transition: 0,3s;
        width:47px;
        height:auto;
    }
    
    .right img:hover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 100%;
        background-color: #9F0006;
        transition: 0,3s;
    }
    
    .left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 100%;
        transition: 0,3s;
        width:47px;
        height:auto;
    }
    
    .left img:hover {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 100%;
        background-color: #9F0006;
        transition: 0,3s;
    }
    
    .text1{
        opacity:0;
        text-align: center;
      }
       
    .left:hover .text1 {
        opacity:1;
      }
    
    .text2{
        opacity:0;
        text-align: center;
      }
       
    .right:hover .text2 {
        opacity:1;
      }
    
    .all-circle {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .circle {
        width: 14px;
        height: 14px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #C4C4C4;
        margin: 5px;
      }
    
    .circle2 {
        width: 18px;
        height: 18px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background:#9F0006;
        margin: 5px;
      }
    
    .description {
        padding-bottom: 65px;
        line-height: 25px;
    }
}
