.header-all{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color .5s ease;

    *::before,
    *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;  
        margin: 0 60px;
        
    }

    header{
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .container{
        width: 100%;
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .nav{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: height .5s ease;

        @include phone {
            display: none;
        }
    }

    .nav a{
        transition: 0.5s;
        font-family:'Monserrat', sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        border: 1px solid;
        border-left-style : none;
        border-right-style:none;
        margin: 0 12px;
        padding: 15px 15px;
    }

    .nav .logo{
        opacity: 0;
        width: 130px;
        z-index: 6;
    }

    .nav-list{
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    .nav-link{
        margin: 0 2rem;
        position: relative;
        transition: 0.7s;
       
    }

    .nav-link:hover{
        background-color: brown;
        transition: 0.5s;
    }
    .menu{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: normal;
        color: $blanc;
        border: 1px;
        z-index: 2;
        opacity: 0;
        position:absolute;
        top: 60px;
        right: 20px;

         @include phone{
            opacity: 100%;
        }
    }

    &.scrolling-active {
        background-color: #fff;
        border-bottom: 2px solid rgba(255,255,255,.05);
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
        
        .nav a{
            color: black;
        }

        .nav img{
            opacity: 1;
        }

        .nav a:hover{
            color: $bordeaux;
            background-color: rgba(0, 0, 0, 0);
        }

    }
    /*Apply styles after scroll*/

}

    /*Apply styles after scroll end */