.section-infos-sup{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: 'Spartan', sans-serif;

    .line {
        border-bottom: 1px solid;
        border: #E4E4E4 solid 1px;
        padding: 10px;
        border-top: none;
        border-left: none;
    }
    
    .align-text {
        text-align:center;
        border: #E4E4E4 solid 1px;
        border-bottom: none;
        border-left: none;
    }
    
    h2 {
        color: #9F0006;
        font-family: $h2-font-family;
        font-size: $h2-size;
        margin-bottom: 50px;
        width: 730px;
    
    }
    
    h3{
        font-family: $h3-font-family;
        font-size: $h3-size;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    
    
    .info {
        display: flex;
        display: inline-block;
        margin-right: 200px;
        line-height: 20px;
        
    }

    table{
        margin-top: 50px;
        margin-bottom: 50px;
            
    }
    
    .text {
        background: url(/assets/images/Covid-infosupp.svg) ;
        height: 380px;
        width: 434px;
        padding: 23px 23px 23px 23px;
        margin-top: 100px;
        position: absolute;
        right: 100px;    
    }

    .pass {
        color: #9F0006;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
        
    }

    p .info-pass{
        font-weight: 500;
        font-style: bold;
    }

    .info-pass{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;      
    }

    .liste{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        margin-top: 50px;
    } 

}