.section-infos-sup{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: 'Spartan', sans-serif;
    
    .align-text {
        text-align:center;
        border: #E4E4E4 solid 1px;
    }
    
    h2 {
        color: #9F0006;
        font-family: $h2-font-family;
        font-size: $h2-size;
        font-weight: $h2-regural;
        margin-bottom: 50px;
    }
    
    h3{
        font-family: $h3-font-family;
        font-size: $h3-size;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    
    
    .info {
        display: flex;
        display: inline-block;
        margin-right: 200px;
        margin-left: 40px;
        
    }

    table{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .text {
        background: url(/assets/images/Covid-infosupp.svg) no-repeat ;
        height: 380px;
        padding: 23px 140px 23px 23px;
    }
    .pass {
        color: #9F0006;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
        width: fit-content;
    }

    p .info-pass{
        font-weight: 500;
    }

    .info-pass{
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        width: fit-content;

       
    }

    .liste{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        margin-top: 50px;
    }


    .line {
        border-bottom: 1px solid;
        border: #E4E4E4 solid 1px;
    }

    .align-text {
        text-align:center;
    }

}