.section-inscriptions{
    margin-top: 100px;
    margin-bottom: 100px;

    h2{
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-size: 38px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        color: $bordeaux;
        margin-bottom: 40px;
    }
    
    h3{
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-weight: 600;
        font-size: 28px;
        font-style: normal;
        color: #000000;
        margin-bottom: 40px;
    }
    
    .inscriptions{
        margin: 60px
    }
    
    .contenu-inscriptions{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contenu-inscriptions p{
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .bloc-texte-1, .bloc-texte-2{
        border: $bordeaux 3px;
        border-style: solid;
        border-radius: 15px;
        padding: 25px;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 610px;
    }
    
    .bloc-texte-2{
        display: block;
    }
    
    .boutons{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 50px 10px 50px;
        align-items: stretch;
    }
    
    .bouton-je-minscris, .bouton-reglement-interieur{
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0);
        border: $bordeaux 3px;
        border-style: solid;
        border-radius: 5px;
        margin: 10px;
        padding: 17px;       
    }
    
    .boutons a{
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: $bordeaux;
        text-transform: uppercase;
        align-self: center;
    }
    
    .boutons :hover a{
        transition: 0.3s;
        color: azure;
    }
    
    .boutons :hover{
        transition: 0.3s;
        background-color: $bordeaux;
    }
    
    // .boutons :hover img{
    //     filter: brightness(0) invert(1);
    // }
    
    .contact-bloc-texte-2{
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        color: $bordeaux;
        margin: 10px;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    
    .bouton_contact{
        padding-top: 70px;
    }


}
