.section-landing{
    position: relative;
    display:flex;
    flex-direction: column;
    .background{
        background-image: url(../../assets/images/Theater.jpg);
        filter: brightness(50%);
        background: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0px; left: 0px;
        z-index: 0;
        height: 100%;
        width: 100%;
    }
    .display{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
    }
    h1{
        font-family: $h1-font-family;
        font-weight: $h1-bold;
       font-size: $h1-size;
       color: $blanc;
       margin: 100px 0 0 170px;;

    }
    h2{
        font-family: $h2-font-family;
        font-weight: $h2-regural;
       font-size: $h2-size;
       color: $blanc;
       padding-top: 20px;
       display: flex;
       justify-content: flex-end;
    }
    .zindex{
        z-index: 1;
    }
    .logo{
        width: 100%;
        height: auto;
        padding-top: 100px;
    }
    .icones{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 40px;
        height: auto;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    .icon{
        padding: 10px 0
    }
    .fleche{
        position: relative;
        align-self: center;
        padding-bottom: 60px;
        transition: 0.5s;
    }
    .fleche p{
        font-weight:$p-little-regular;
        font-family: $p-font-family;
        font-size: $p-little-size;
        color: $blanc;
        padding: 10px 0 0 2px;
        display: flex;
        align-self:center;
        opacity: 0%;
    }
    .fleche img:hover{
        border-radius: 50%;
        transition: 0.5s;
        background-color: $bordeaux;
        opacity: 100%;
    }

    .fleche img{
        transition: 0.5s;
    }

    .fleche:hover p{
        font-size: $p-big-regular;

        opacity: 100%;
    }
}
.padding{
        padding: 0 60px 
    }
