.cadre{
    background-color: $blanc;
    opacity: 80%;
    color: black;
    position: absolute;
    top: 50%;
    text-align: center;
    justify-content: center;
    transform: translateY(-50%);
    padding: 5px;

    font-family: $p-font-family;
    font-size: $p-big-size;
    display: inline-block;
    line-height: 5vh;

    a{
        color: $bordeaux;
    }
        a:hover{
            color: $rouge;
        }

    @media screen and (max-width: 380px) {

        p {
        font-size: 10px;
        width: fit-content;
        }
        
    }
    @media screen and (max-width: 600px) {

        p {
        font-size: 15px;
        }
        
    }
}

.img-carousel{
    filter: brightness(70%);
}
