/*GENERAL*/
footer{
    *{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
          
    }

    .footer-all{
       background-image: url(/assets/images/waveFooterSVG.svg);
        
       @include phone{
        background-image: none;
        background-color: rgba(112, 128, 144, 0);
           }
    }

    
    .haut-footer{
        display: flex;
        justify-content: space-around;
        align-items: left;
        width: 100%;
        margin: 10px;

        @include phone{
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
           }
    }
    
    h2{
        text-decoration: none;
        font-size: 30px;
        font-style: normal;
        text-transform: uppercase;
        color: $bordeaux;
        margin-bottom: 25px;
    }
    
    .rubriques{
        @include phone{
            margin-bottom: 50px;
               }
    }

    .contact{
        @include phone{
            margin-bottom: 50px;
               }
    }

    .liste a{
        text-decoration: underline;
        color: rgb(112, 128, 144);
        font-size: 12px;
        font-weight: 300;
    }
    
    .liste a:hover{
        color: rgb(62, 71, 78);
    }
    
    .liste a, .liste img{
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .liste-rubriques li {
        line-height: 40px;
        display: flex;
    }
    
    .liste-contact li{
        margin-bottom: 10px;
    }
    
    .foenix a{
        align-items: center;
    }
    
    .localisation{
        width: fit-content;

        @include phone{
        margin-bottom: 50px;
           }
    }

    .foenix{
        
        @include phone{
            margin-bottom: 50px;
               }
    }
    
    .mentions-legales-footer{
        color: rgba(112, 128, 144, 0.7);
        display: flex;
        text-align: center;
        margin: 40px 150px;

        @include phone{
            margin: 20px 10px 30px 10px;
           }
    }
}
